body {
		background-image: url(../images/BlackMarble.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
		color: white;
		display: flex;
	}

.container {
    	margin: auto;
        text-align: center;
        font-size: 20px;
	}

#currentWord {
    	letter-spacing: 10px;
    }

#h1 {
    font-size: 30px;
    font-style: italic;
}

p {
        color:rgb(243, 243, 92);
    }